/* General Styles */
body {
    background-color: #8b4f4f;
    font-family: Arial, sans-serif;
    color: #333;
    /* Default styles */
body {
    font-size: 16px;
}

/* Adjust for smaller screens */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

}

/* Style for the main heading */
h1 {
    color: #0056b3;
    font-size: 2.5rem;
    text-align: center;
}

/* Styling buttons */
button {
    background-color: #ce1e76;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
